.btn {
    cursor: pointer !important;
    padding: 1.175rem 1.175rem !important;
    border-radius: 1.875rem !important;
    text-align: center !important;
    border: .15rem solid $yellow-1 !important;
    font-size: 1.25rem !important;
    font-weight: 600;
    transition: all 0.3s ease-out !important;

    &:hover{
        background-color: rgba(30, 32, 39, 0.5);
    }

    &-default {
        background: transparent;
        color: $white-1;
    }
}