.ventiqo-login-container{
  padding: 0 !important;
  margin: auto !important;
  margin-top: 9vh !important;
  height: 80vh;
  border: 4px $yellow-1 solid;
  border-radius: .625rem;
  width: 30vw;

  &::before{
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
  }

  &__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0 5vh 0;

    &-yellow{
      color: $yellow-1;
    }

    h1 {
      font-size: 3.125rem;
    }
  
    p {
      font-size: 1.5625rem;
      color: $gray-1;
    }
  }
}