.theme-switch {
    position: fixed;
    bottom: 22px;
    left: 15px;
    z-index: 9999;
}

.moon-icon {
    animation: moon-animation 0.4s forwards;
}

.sun-icon {
    animation: sun-animation 0.4s forwards;
}

@keyframes moon-animation {
    0% { opacity: 1; }
    25% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes sun-animation {
    0% { opacity: 0; }
    25% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 1; }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: inset 0px 0px 0px .1rem $yellow-1;
    -moz-box-shadow: inset 0px 0px 0px .1rem $yellow-1;
    box-shadow: inset 0px 0px 0px .1rem $yellow-1;

    &::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 3px;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

input:checked+label .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.icon-wrapper {
    position: absolute;
    transition: transform .4s;
    z-index: 1000;
    
}

input:checked+.slider .icon-wrapper {
    transform: translateX(14px);
}

input:not(:checked)+label .slider .icon-wrapper {
    transform: translateX(-12px);
}
input:checked + label .moon-icon {
    animation: moon-animation 0.4s reverse forwards;
}

input:checked + label .sun-icon {
    animation: sun-animation 0.4s reverse forwards;
}
.icon {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    z-index: 1000;
    user-select: none;
}