@mixin validate-colors() {
  &.invalid {
    color: $red-1;
  }

  &.valid {
    color: $green-1;
  }
}

@mixin is-focused() {
  color: $gray-2;
  font-weight: 400;
  font-size: 0.875rem;
  transform: translate(0, -12px);

  @include validate-colors();
}

@mixin input-style() {
  position: absolute;
  display: inline-block;
  background: transparent;
  border-radius: 1.875rem;
  font-size: 1.25rem;
  border: none !important;
  outline: none !important;
  color: $white-1;
}

.ventiqo {
  position: relative;

  &-input {
    position: relative;
    display: inline-block;
    width: calc(100% - 3rem);
    padding: 1.175rem 1.175rem;
    border: 0.0625rem solid $gray-1;
    border-radius: 1.875rem;

    &.disabled {
      background: rgba(30, 32, 39, 0.5);
      color:  $gray-1;
    }

    &.has-content {
      .ventiqo-input-label {
        @include is-focused();
      }
    }

    input {
      @include input-style();
      caret-color: $yellow-1;
      border-radius: 0.25rem;

      &[type="password"] {
        -webkit-text-security: disc;
        letter-spacing: 0.1875rem;
        color: $yellow-1;
      }

      &:focus {
        outline: none !important;
      }

      &:-webkit-autofill {
        border-radius: 1.875rem;
        border: 0.0625rem solid $yellow-1 !important;
        -webkit-box-shadow: 0 0 0 1000px $gray-3 inset;
        -webkit-text-fill-color: $white-1;
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    &.invalid {
      input {
        border-top: 0.0625rem solid $red-1;
      }

      .ventiqo-input-label {
        color: $red-1;
      }
    }

    &.valid {
      input {
        border-bottom: 0.0625rem solid $green-1;
      }

      .ventiqo-input-label {
        color: $gray-1;
      }
    }

    &-field {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: calc(100% - 3rem);
      height: calc(100% - 2.5rem);
      padding: 1.875rem 1.5rem 0.625rem 1.5rem;
      border-width: 0;
      background-color: transparent;
      color: inherit;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0;
      text-align: left;

      &:focus {
        +.ventiqo-input-label {
          @include is-focused();
        }
      }
    }

    &-label { 
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0;
      text-align: left;
      transition: all 0.3s ease;
      line-height: 25px;
    }

    &-alert-msg {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.25rem;

      &.invalid {
        margin: 0.5rem 0 0 1.5rem;
      }

      @include validate-colors();
    }
  }
}
