//GREYSCALE
$white-1: #F2F2F2;
$gray-1: #666;
$gray-2: #7d7d7d;
$gray-3: #33383D;
$black-1: #0D0D0D;
$black-2: #1C1D20;
$black-3: #17191a;

//YELLOWS
$yellow-1: #F2D95C;
$yellow-2: #F2CD5C;
$yellow-3: #F2E4BB;

//ORGANES
$orange-1: #e67817;

//REDS
$red-1: #D0312D;

//GREENS
$green-1: #2E854A;
